html {
    background-color: #fff;
    background-image: url(img/tile.png);
 }
 
 body {
    border: 10px solid white;
    height: 600px;
    margin: 20px auto;
    max-width: 300px;
    padding: 40px 100px;
    background-image: url(img/bg.png);
    background-size: 500px 680px;
    box-shadow:3px 2px 2px 2px rgb(116, 114, 114);
    border-radius: 1mm;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 mark {
    background-color: transparent;
    font-weight: bold;
    text-shadow: 3px 3px 16px rgb(218, 14, 24);
    

 }
 
 footer {
    margin-top: 40px;
    text-align: right;
 }
 
 footer p {
    margin: 0;
    font-family: 'Lovers Quarrel', cursive;
 }
 
 .date {
    margin-top: 10px;
 }

 span {
    color: rgb(218, 36, 45);
 }

 main{
   font-family: 'Lovers Quarrel', cursive;
    font-size: 39px;
 }

 h1{
   font-family: 'Loved by the King', cursive;
   font-size: 45px;
 }
 
 .salute{
    font-size: 22px;
 }

 .date{
    font-size: 15px;
 }